.main {
    background-color: #f8f9fa;
}
.stButton>button {
    width: 100%;
    border-radius: 5px;
    height: 3em;
    background-color: #007bff;
    color: white;
}
/* Base commune pour les cartes de résultat */
.result-card {
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    text-align: center;
    margin-bottom: 10px;
}

/* Variante CAMWATER (Bleu) */
.card-camwater {
    background-color: #003399;
    border-left: 8px solid #001a4d;
}

/* Variante FORAGE (Vert) */
.card-forage {
    background-color: #228B22;
    border-left: 8px solid #145214;
}

/* Texte à l'intérieur des cartes */
.card-title {
    color: #e0e0e0;
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.card-value {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 800;
    margin: 0;
}
.stMetric {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    padding: 15px;
    border-radius: 8px;
}